%h1 Welcome #{current_user.username}, to your profile page!
%p Here, you'll be allowed to view, edit, and destroy your posts
%p Some stats for you
%p
  Total number of posts : #{current_user.posts.count} &nbsp
  Democracy level :#{current_user.votes.size} &nbsp
  Trust score :#{current_user.trustscore} &nbsp
%p

%table
  %thead
    %tr
      %th Score
      %th Title
      %th Contents
      %th Author
      %th{:colspan => "3"}
  %tbody
    - current_user.posts.each do |post|
      %tr
        %td= post.score
        %td= post.title
        %td= post.contents
        %td= post.user.username
        %td= link_to 'Open', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
