.post
  .self
    %h2.title
      = post.title
      .votes
        - vote = post.vote_by_user current_user
        %form.up{'data-target': vote_post_path(post), class: vote > 0 && :active}
          %button.icon thumb_up
        %span.score= post.score
        %form.down{'data-target': vote_post_path(post), class: vote < 0 && :active}
          %button.icon thumb_down
    .meta
      posted
      \ #{link_to "#{time_ago_in_words post.created_at} ago", post}
      \ by
      \ #{link_to post.user, profile_path}
    .contents!= post.contents

  .comments
    = render post.comments
    .commentish.add-comment
      - if current_user
        = form_for [post, post.comments.build] do |f|
          = f.text_field :contents
          = f.submit 'Comment'
      - else
        = link_to "Login to Comment", login_path
