<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @post.contents %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.get_username_by_id(@post.author) %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
<p>
  <strong>Author:</strong>
  <%= comment.author %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.contents %>
</p>
<% end %>

<h2>Add a Comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.label :author %><br />
  <%= f.label User.get_username_by_id(session[:user_id]) %><br />
</p>

<p>
  <%= f.label :contents %><br />
  <%= f.text_area :contents %><br />
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
