<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<header>

<div class="navBar">
<% if current_user %>
  <%= label_tag current_user.username %>
  <%= link_to 'Logout', logout_path %><br>
<% else %>
<%= link_to "Log in", login_path %>
<%= link_to "Sign up", signup_path %>
<% end %>
</div>

</header>
<div class="websiteTitle">
<%= link_to 'Social Wiki', {:controller => 'sessions', :action => 'home'},{:class => 'websiteTitle'}%>

</div>


<%= yield %>

</div>
</body>
</html>
