<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<header>
<%= link_to image_tag("Wiki-icon.png", alt: "Social Wiki"),
  {:controller => 'pages', :action => 'home'},
  {:class => 'websiteLogo'} %>

<%= link_to 'Social Wiki', {:controller => 'pages', :action => 'home'},
  {:class => 'websiteTitle'} %>
</header>

<%= yield %>

</div>
</body>
</html>
