!!!html
%html
  %head
    %title Social Wiki
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head

  %body
    = javascript_include_tag javascript_path params[:controller]
    = stylesheet_link_tag stylesheet_path params[:controller]
    %header
      = link_to "Social Wiki", "/", {id: 'logo'}
      .spacer
      - if current_user
        = label_tag current_user.username
        = link_to 'Logout', logout_path
      - else
        = link_to "Log in", login_path
        = link_to "Sign up", signup_path
    #body
      = yield
    
